@using market.Models;
@model IEnumerable<Categoria>;
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Categorias";
}

<script>
    $(document).ready( function () {
    $('#tb_Categorias').DataTable();
} );
</script>

<div class="row">
    <div class="col">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col"></div>
    <div class="col">
        <a  class="btn btn-success" asp-action="NovaCategoria" asp-controller="Gestao" >Criar Categoria</a>
    </div>
</div> 
<br/>   
    <table id="tb_Categorias" class="table table-striped bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria categoria in Model)
            {
                <tr>
                    <td>
                        @categoria.Id
                    </td>
                    <td>
                        @categoria.Nome
                    </td>
                    <td>
                        <form id="edit_form_Categoria" method="GET" style="display: inline;">
                            <button class="btn btn-primary" type="submit" asp-action="EditarCategoria" asp-controller="Gestao" asp-route-id="@categoria.Id">Editar</button>
                        </form>
                        <form id="del_form_Categoria" method="POST" asp-action="Deletar" asp-controller="Categorias" style="display: inline;">
                            <input type="hidden" id="Id" name="Id" value="@categoria.Id"/>
                            <input type="hidden" id="Nome" name="Nome" value="@categoria.Nome"/>
                            <input type="hidden" id="Status" name="Status" value="@categoria.Status.ToString()"/>
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>       
                </tr>
            }
        </tbody>
    </table>

